body.light .about .box-stats {
    border: 1px solid #ddd;
}

body.light .about .c100,
body.light .about .resume-box .time {
    background-color: #eee;
}

body.light .about .resume-box .time,
body.light .about .resume-box p {
    color: #666;
}

body.light .about .resume-box .place:before {
    background-color: #666;
}

body.light .about .resume-box li:after {
    border-left: 1px solid #ddd;
}

body.light .about .c100 > span {
    color: #666;
}

body.light .about .c100:after {
    background-color: #fff;
}

.about .main-content {
    padding-bottom: 20px;
}

/* Personal Info List */

.about .about-list li:not(:last-child) {
    padding-bottom: 20px;
}

.about .about-list .title {
    opacity: 0.8;
    text-transform: capitalize;
}

.about .about-list .value {
    font-weight: 600;
}

/* Box Stats */

.about .box-stats {
    padding: 20px 30px 25px 40px;
    border-radius: 5px;
    border: 1px solid #252525;
}

.about .box-stats.with-margin {
    margin-bottom: 30px;
}

.about .box-stats h3 {
    position: relative;
    display: inline-block;
    margin: 0;
    font-size: 50px;
    font-weight: 700;
}

.about .box-stats h3:after {
    position: absolute;
    right: -24px;
    font-size: 33px;
    font-weight: 300;
    top: 2px;
}

.about .box-stats p {
    padding-left: 45px;
}

.about .box-stats p:before {
    content: "";
    position: absolute;
    left: 0;
    top: 13px;
    width: 30px;
    height: 1px;
    background: #777;
}

/* Resume */

.about .resume-box ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.about .resume-box li {
    position: relative;
    padding: 0 20px 0 60px;
    margin: 0 0 50px;
}

.about .resume-box li:after {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    bottom: 0;
    border-left: 1px solid #333;
}

.about .resume-box .icon {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    line-height: 40px;
    text-align: center;
    z-index: 1;
    border-radius: 50%;
    color: #fff;
    background-color: #252525;
}

.about .resume-box .time {
    color: #fff;
    font-size: 12px;
    padding: 1px 10px;
    display: inline-block;
    margin-bottom: 12px;
    border-radius: 20px;
    font-weight: 600;
    background-color: #252525;
    opacity: 0.8;
}

.about .resume-box h5 {
    font-size: 18px;
    margin: 7px 0 10px;
}

.about .resume-box p {
    margin: 0;
    color: #eee;
    font-size: 14px;
}

.about .resume-box .place {
    opacity: 0.8;
    font-weight: 600;
    font-size: 15px;
    position: relative;
    padding-left: 26px;
}

.about .resume-box .place:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 2px;
    background-color: #fff;
    left: 7px;
    top: 9px;
    opacity: 0.8;
}

/* Skills */

.about .c100 {
    float: none !important;
    margin: 0 auto;
    background-color: #252525;
}

.about .c100 > span {
    color: #fff;
}

.about .c100:after {
    background-color: #111;
}

.about-list {
    display: flex;
    flex-wrap: wrap;
    li {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

body.light .about .box-stats {
    border: 1px solid #ddd;
}

body.light .about .c100,
body.light .about .resume-box .time {
    background-color: #eee;
}

body.light .about .resume-box .time,
body.light .about .resume-box p {
    color: #666;
}

body.light .about .resume-box .place:before {
    background-color: #666;
}

body.light .about .resume-box li:after {
    border-left: 1px solid #ddd;
}

body.light .about .c100 > span {
    color: #666;
}

body.light .about .c100:after {
    background-color: #fff;
}

.overlay-container {
    position: relative;
    width: 90%;
    padding: 0%;
    border-radius: 15px;
    transition: all 1.5s ease;
}
.overlay-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin: 0;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--main-primary-color);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 1.5s ease;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    opacity: 0.9;
}

.overlay-container:hover .overlay {
    height: 100%;
}
.overlay-container:hover {
    width: 100%;
}
.overlay-data {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 15px;
    margin: 0;
}
