
.sliding-background {
    animation: slide 2s linear infinite;
}

@keyframes slide{
    0%{
        transform: translate3d(0, 0, 0);
    }
    100%{
        transform: translate3d(-110%, 0, 0);
    }
}