.topic-circles {
    cursor: pointer;
    border: 2px dotted #ddd;
    border-radius: 50%;
    padding: 40px;
    max-width: 11rem;
    max-height: 11rem;
    list-style-type: none;
    background: #565660;
    text-align: center;
    margin-bottom: 2rem;
    transition: all 1s;
}

.topic-circles:hover {
    box-shadow: 0rem 0rem 1rem 1rem #ffb400;
}

.topic-circles:focus,
.topic-circles:active {
    border: none;
    outline: none;
}

.circles-and-topics-tabs hr {
    border: 2px dotted gray;
}
