
.topic-circles {

    cursor: pointer;
    border: 2px dotted #ddd;    
    border-radius: 50%;
    padding: 40px;
    list-style-type: none;
    background: #565660;
    text-align: center;
    margin-bottom: 2rem;
    transition: all 1s;
}

.topic-circles:hover {
    box-shadow: 0 0px 32px 0 #ffb400;

}
.topic-circles:focus, .topic-circles:active {
    border: none;
}

.circles-and-topics-tabs hr {
    border: 2px dotted gray;
}