
.sliding-background {
    animation: slide 700ms linear infinite;
}

@keyframes slide{
    0%{
        width: 100%;
        /* opacity: 1; */
        /* transform: rotate(2deg); */
        /* transform: translate3d(0, 0, 0); */
    }

    100%{
        /* opacity: 0; */
        width: 0%;
        /* transform: rotate(0deg); */
        /* transform: translate3d(-110%, 0, 0); */
    }
}