@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin img-size {
    height: 100%;
    width: 100%;
}

@mixin icon-vector {
    height: 2rem;
    width: 2rem;
}

.hover-opacity-effect{
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.hover-opacity-effect:hover{
    opacity: 0.5;
}


.back-button-icon {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: bold;
    // color: white;
    border-radius: 50%;
    
  }

